@{
    ViewData["Title"] = "Fast question";
}
<h2>@ViewBag.Title</h2>
<hr />

<div class="row"> <h4 class="col-md-1">Question: </h4> <h4 class="col-md-11" id="fastQuestionR"></h4> </div>
<div class="row" style="margin-left: 0px;margin-top: 10px"> <button type="button" class="btn btn-primary">Stop test</button> </div>
