@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-offset-1">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control" placeholder="Search" id="searchText" onkeydown="search2(this)"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button" onclick="search()">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="text-align: center; margin-top: 2%; margin-bottom: 3%;">
</div>

<div id="technologiesListImg"></div>