@{
    ViewData["Title"] = "Learn";
}

<div class="container-fluid text-center" style="margin-top: 2%">
    <div class="row content">
        
        <div class="col-sm-3 sidenav">
            <h3>Topics</h3>
            <div id="topicsList"></div>
        </div>

        <div class="col-sm-9 text-left">
            
            <div class="col-sm-12">
 
                <br>
                <div id="myCarousel" class="carousel slide" data-interval="false">
                    <div id="materialsList"></div>
                </div>
                <ul class="pager">
                    <li><a href="#myCarousel" role="button" data-slide="prev">Previous</a></li>
                    <li><a href="#myCarousel" role="button" data-slide="next">Next</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
