@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-offset-1">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="text-align: center; margin-top: 2%; margin-bottom: 3%;">
    <h3>E-Learning</h3>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="/Home/Learn">
                <img src="~/images/courses/dotnet.png" alt="Lights" style="width:100%">
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="#">
                <img src="~/images/courses/java.png" alt="Nature" style="width:100%">
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="#">
                <img src="~/images/courses/python.png" alt="Fjords" style="width:100%">
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="#">
                <img src="~/images/courses/ruby.png" alt="Fjords" style="width:100%">
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="#">
                <img src="~/images/courses/cpp.png" alt="Lights" style="width:100%">
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="#">
                <img src="~/images/courses/html.png" alt="Nature" style="width:100%">
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="#">
                <img src="~/images/courses/css.png" alt="Fjords" style="width:100%">
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="#">
                <img src="~/images/courses/javascript.png" alt="Fjords" style="width:100%">
            </a>
        </div>
    </div>
</div>
